* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  color: #fff;
  cursor: pointer;
}

.conteudo {
  text-align: center;
  border: 3px solid #4caf50;
  padding: 40px 60px;
  border-radius: 10px;
}

h1 {
  margin-bottom: 10px;
  color: #4caf50;
}

#lousa {
  padding: 14px 32px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(135deg, #068d18, #182133);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

#lousa:hover {
  transform: translateY(-3px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  filter: brightness(1.05);
}

#lousa:active {
  transform: translateY(0);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}
